body.acal {
    /* TODO find better way to override twitter bootstrap background color and remove important */
    background-color: #eee;
}

.acal .container {
    font-family: "AtlasTypewriterRegular", "Andale Mono", "Consolas", "Lucida Console", "Menlo", "Luxi Mono", monospace;
    height: 100%;
    width: 100%;
}

.acal h1 {
	color: 000099;
}

.footer {
	position : absolute;
    bottom : 0;
    font-size: 70%;
    z-index: 2;
    background-color: #eee;
    border-top: 1px solid rgba(0,0,0,0.05);
}

.acal address {
    margin-bottom: 5px;
}

.header {
    margin-bottom: 100px;
}
