body.acal {
    /* TODO find better way to override twitter bootstrap background color and remove important */
    background-color: #eee;
}

.acal h1 {
	color: 000099;
}
.footer {
    width: 100%;
	position : absolute;
    bottom : 0;
    font-size: 70%;
    z-index: 2;
    background-color: #eee;
    border-top: 1px solid rgba(0,0,0,0.05);
}

.acal address {
    margin-bottom: 5px;
}

.header {
    margin-bottom: 100px;
}
