.acal {
    font-family: Century Gothic, sans-serif !important;
}

/* Thanks for http://keithclark.co.uk/ for his tutorial on CSS based Parallax design
   Parallax base styles */
.parallax {
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
}

.parallax__group {
    position: relative;
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.parallax__layer--fore {
    -webkit-transform: translateZ(90px) scale(.1);
    transform: translateZ(90px) scale(.7);
    z-index: 1;
}

.parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;
}

.parallax__layer--back {
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
    z-index: 3;
}

.parallax__layer--deep {
    -webkit-transform: translateZ(-600px) scale(3);
    transform: translateZ(-600px) scale(3);
    z-index: 2;
}

.parallax__group {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

body, html {
    overflow: hidden;
}

body {
    font: 100% / 1.5 Arial;
}

* {
    margin: 0;
    padding: 0;
}

.parallax {
    font-size: 200%;
}

/* centre the content in the parallax layers */
.title {
    padding-top: 20px;
    text-align: center;
    margin-top: 40px;
    color: grey;
}

#home .parallax__layer--base {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    right: 0;
    top: 0;
}

.contactUsContent {
    text-align: right;
    position: absolute;
    left: 45%;
    top: 65%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    color: white;
}

/* style the groups */
#home {
    z-index: 5; /* slide over group 2 */
}

#home .parallax__layer--base {
    background-color: white;
}

#about-us {
    z-index: 3; /* slide under groups 1 and 3 */
}

#about-us .title {
    color: white
}

#about-us .parallax__layer--back {
    background: lightslategrey;
}

#group3 {
    z-index: 4; /* slide over group 2 and 4 */
}

#group3 .parallax__layer--base {
    background: rgb(153, 216, 101);
}

#group4 {
    z-index: 2; /* slide under group 3 and 5 */
}

#group4 .parallax__layer--deep {
    background: #D9B05E;
}

#group5 {
    z-index: 3; /* slide over group 4 and 6 */
}

#group5 .parallax__layer--base {
    background: rgb(214, 229, 100);
}

#group6 {
    z-index: 2; /* slide under group 5 and 7 */
}

#group6 .parallax__layer--back {
    background: rgb(245, 235, 100);
}

#contact-us {
    z-index: 3; /* slide over group 7 */
}

#contact-us .title {
    color: #ffffff;
}

#contact-us .parallax__layer--base {
    background: darkgrey;
}

.menu {
    position: absolute;
    z-index: 100;
    top: 0vh;
    bottom: auto;
    text-align: right;
    padding: 10px;
    background: grey;
    right: 15px;
    width: 100%;
}

.menu a {
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    border-left: 1px solid white;
}

.footer {
    position: absolute;
    z-index: 100;
    bottom: 0vh;
    top: auto;
    text-align: center;
    width: 100%;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: white;
}

address {
    display: inline;
}